/*Links*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #262626;
}

a:active{
background-color: #262626;
}

.titlecss{
list-style-type: none;
text-decoration: none;
color: black;

}



/*Overall*/
body{
background-color: #A6A6A6;
}

.title {
text-align: center;
padding: 25px 0px 25px 0px;

}

.title:hover{
transform: scale(1.2);
transition: transform .2s;
}

/*Main page boxes*/

.container {
display: flex;
            width: 100%;
            text-align: center;
             align-items: center;
             justify-content: center;
        }
        .box1 {
            display: flex;
            width: 40%;
            height: 400px;
            margin: 10px 20px 10px 20px;
            background-color: lightgrey;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            font-size: 40px;

        }

         .box2 {
                    display: flex;
                    width: 40%;
                    height: 400px;
                    margin: 10px 20px 10px 20px;
                    background-color: lightgrey;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;

                }

                .textbox{
               list-style-type: none;
               text-decoration: none;
                color: black;
                }

                .textbox:hover{
                transform: scale(1.3);
                transition: .5s ease;
                }

             .box1:hover{
             transform: scale(0.9);
             transition: .5s ease;
             }

             .box2:hover{
             transform: scale(0.9);
             transition: .5s ease;
             }

/* Responsive layout */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}